:root {
  --c1: #F2F2F2;
  --c2: #C0C0C0;
  --c3: #808080;
  --c4: #606060;
  --c5: #333333;
}
body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  background: linear-gradient(to bottom, var(--c5), var(--c1));
  color: hsl(0, 15%, 91%);
  display: flex;
  flex-direction: column;
  margin: 0;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 1.8rem;
  margin-left: 0;
  background-color: var(--c5);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 1000;
}
.nav-links {
  display: flex;
  gap: 1.25rem;
  font-size: 0.875rem;
  font-weight: 600;
  text-decoration: none;
  color: white;
  align-items: center;

}
  .nav-links a {
  text-decoration: none;
  transition: color 0.3s;
  color: white;
}

.nav-links a:hover {
  color: var(--c3);
}

#logo{
  height: 2rem;
  
}
#html_logo{
  text-align: center;
  width: 5%;
  height: 5%;
}
#h1html{
  text-align: center;
}
#definition{
    text-align: center;
}
.example{
  border-style: solid;
  border-color: white;
  background-color: black;
}
.result{
  border-style: solid;
  border-color: black;
  background-color: white;
  color: black;
  margin-bottom: 1rem;
}
footer{
  background-color: var(--c5);
  color: white;
  text-align: center;
  padding: 1.2rem 0;
  width: 100%;
  box-shadow: 0 -0.125rem 0.25rem rgba(0, 0, 0, 0.2);
  margin-top: auto;
} 