:root {
  --c1: #0085FF;
  --c2: #0070FF;
  --c3: #014CFE;
  --c4: #3714FF;
  --c5: #1F00CE;
  --c6: #140085;
}
body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to bottom, var(--c6), var(--c1));
  color: hsl(0, 15%, 91%);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  background-color: var(--c5);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 1000;
}
.nav-links {
  display: flex;
  gap: 20px;
  font-size: 0.875rem;
  font-weight: 600;
  text-decoration: none;
  color: white;
}
  .nav-links a {
  text-decoration: none;
  transition: color 0.3s;
  color: white;
}

.nav-links a:hover {
  color: var(--c1);
}

h1{
    size: 150%;
}
#html{
    display:flex;
    flex-direction:column;
    background-color: #f0f0f0;
    color: #333;
    font-family: Arial, sans-serif;
    padding: 10px;
    border-radius: 5px;
    margin: 15px;
}
#html_logo{
    width: 30px;
    height: auto;
}
#html.h1{
    font-size: 1%;
}
button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
button:hover{
    background-color: #45a049;
}
