:root {
  --c1: #F2F2F2;
  --c2: #C0C0C0;
  --c3: #808080;
  --c4: #606060;
  --c5: #333333;
}
body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  background: linear-gradient(to bottom, var(--c5), var(--c1));
  color: #ebe5e5;
  display: flex;
  flex-direction: column;
  margin: 0;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 1.8rem;
  margin-left: 0;
  background-color: var(--c5);
  box-shadow: 0 0.125rem 0.25rem #00000033;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.nav-links {
  display: flex;
  gap: 1.25rem;
  font-size: 0.875rem;
  font-weight: 600;
  text-decoration: none;
  color: white;
  align-items: center;

}
  .nav-links a {
  text-decoration: none;
  transition: color 0.3s;
  color: white;
}

.nav-links a:hover {
  color: var(--c3);
}

#logo{
  height: 2rem;
  
}
h1{
    font-size: 300%;
    text-align: center;
}
h2{
    font-size: 200%;
}
#main_p{
  font-size: 1.5rem;
  text-align: center;
  margin: 1.2em;
}
#container{
    display:flex;
    flex-direction:row;
    justify-content: center;
    width: 100%;
    height: 300px;
    
}
.part{
  display: flex;
  flex-direction: column;
  width: 25rem;
  background-color: #f0f0f0;
  color: #333;
  font-family: Arial, sans-serif;
  padding: 0.625rem;
  border-radius: 0.31rem;
  margin: 0.95rem;
}

button{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 0.95rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 0.25rem 0.125rem;
  cursor: pointer;
}
button:hover{
  background-color: #45a049;
}
footer{
  background-color: var(--c5);
  color: white;
  text-align: center;
  padding: 1.2rem 0;
  width: 100%;
  box-shadow: 0 -0.125rem 0.25rem #00000033;
  margin-top: auto;
} 